<html>
	<head>
		<title>AirBnB Card</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	</head>

	<body>
		<div class="banner">
			<div class="container-bnb" style="background-color: white; display: flex;
					justify-content: space-between; align-items: center; height: 150px;
					width: auto; border: solid; border-color: grey;">
				<div>
					<h2>Listing Card</h2>
					<p>Entire place</p>
				</div>
				<img src="http://source.unsplash.com/random/300x300" alt="" class="avatar">
			</div>
		</div>



	</body>
</html>
