<html>
	<head>
		<title>Horror Movies</title>
		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
		<meta charset="UTF-8">
	</head>
	<body class= "text-center">
		<img src="http://source.unsplash.com/random/300x300" alt="" class="avatar">
		<img src="http://source.unsplash.com/random/300x300" alt="" class="avatar-big">

		<div class="banner">
			<div class="container" style="background-color: #ef2727;
    opacity: 1; flex: 1">
				<h1>Must-See Horror Films</h1>
				<p>Pick your poison...</p>
				<a href="https://wallpaperset.com/w/full/8/6/4/129019.jpg" class="btn-scary">SCARY</a>
				<a href="https://thenypost.files.wordpress.com/2019/06/190613-chainsaw-feature.jpg?quality=90&strip=all&w=618&h=410&crop=1" class="btn-very-scary">VERY SCARY</a>
				<a href="https://i.pinimg.com/564x/e7/08/51/e708517e5935a8f0c30fc960f78ea195.jpg" class="btn-not-scary">Not Scary At All</a>
			</div>
		</div>


	</body>
</html>
